<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>board</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>login.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FreeBoardServlet</display-name>
    <servlet-name>FreeBoardServlet</servlet-name>
    <servlet-class>board.FreeBoardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FreeBoardServlet</servlet-name>
    <url-pattern>/FreeBoardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>kr.or.ddit.login.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControlBoard</display-name>
    <servlet-name>ControlBoard</servlet-name>
    <servlet-class>kr.or.ddit.board.web.ControlBoard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControlBoard</servlet-name>
    <url-pattern>/ControlBoard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardDetailServlet</display-name>
    <servlet-name>BoardDetailServlet</servlet-name>
    <servlet-class>kr.or.ddit.board.web.BoardDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardDetailServlet</servlet-name>
    <url-pattern>/BoardDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardUpdateServlet</display-name>
    <servlet-name>BoardUpdateServlet</servlet-name>
    <servlet-class>kr.or.ddit.board.web.BoardUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardUpdateServlet</servlet-name>
    <url-pattern>/BoardUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownLoad</display-name>
    <servlet-name>DownLoad</servlet-name>
    <servlet-class>kr.or.ddit.board.web.DownLoad</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownLoad</servlet-name>
    <url-pattern>/DownLoad</url-pattern>
  </servlet-mapping>
</web-app>